.homepage-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .cover-image {
    background: url("../../img/coverimage.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: transform 2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}