.homepage-container {
  .cover-image {
    height: 800px;
    background: url("../../img/coverimage.JPG");
    background-repeat: no-repeat;
    background-size: cover;

    // transition: transform 2s;
    // &:hover {
    //   transform: scale(1.1);
    // }
  }

  // &:after {
  //   content: "test";
  //   display: block;
  // }
}